* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Person {
  box-shadow: 0 2px 2px black;
  border-radius: 10px;
  margin: 20px auto;
  height: 50px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Person h2 {
  color: darkred;

  height: 100%;
}
